<div class="contents">
  <div class="contents_inner">
    <div class="side_search">
      <div class="side_search_inner">
        <div class="search_key">
          <h4>キーワードで検索する</h4>
          <div class="search_form">
            <%= form_with( url: mates_path, method: :get, local:true) do |f| %>
              <%= f.text_field :search, class: "field",value: params[:search] %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
        <div class="search_tag">
          <h4>タグ</h4>
          <div class="search_form">
            input_form
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main_header">
        <h1>音楽仲間をさがす</h1>
      </div>
      <div class="links">
        <%= link_to "自分の投稿をチェック", root_path, class: "link_small" %>
        <%= link_to "投稿はこちらから", new_mate_path, class: "new" %>
      </div>
      <div class="main_list">
        <% if @mates.present? %>
          <% @mates.each do |mate| %>
            <div class="list_card">
              <div class="card_top">
                <%= link_to mate_path(mate) do %>
                  <h4><%= mate.title %></h4>
                <% end %>
              </div>
              <div class="card_middle">
                <%= simple_format mate.content %>
              </div>
              <div class="card_bottom">
                <div class="user_icon">
                  <% if mate.user.image.present? %>
                    <%= image_tag mate.user.image[:small].url %>
                  <% else %>
                    <%= image_tag "default_user.png" %>
                  <% end %>
                </div>
                <div class="card_bottom_name">
                  <%= link_to mate.user.username, user_path(mate.user) %>
                </div>
                <div class="card_bottom_area">
                  <span><%= mate.area %></span>
                </div>
                <div class="card_bottom_time">
                  <span><%= time_ago_in_words(mate.created_at)+"前" %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="list_card">
            <div class="alert">
              <h4>一致する投稿はありません。</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

