<div class="form_area">
  <%= form_with model: @job, local: true do |f| %>
    <div class="form_area_inner">
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="field">
        <div class="field_input">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :content, "依頼する仕事の内容" %><br>
          <%= f.text_area :content, rows: 10, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :area, "地域" %><br>
          <%= f.text_field :area, autofocus: true, autocomplete: "area" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :budget, "予算" %><br>
          <%= f.number_field :budget, min: 500, max: 300000, step: 100, autofocus: true, autocomplete: "budget", class: "price" %>
          <span id="price_unit">
            円／
          </span>
          <%= f.select :budget_unit_id, options_from_collection_for_select(BudgetUnit.all, :id, :name, include_blank: "", required: false) %>
        </div>
      </div>
    </div>

    <div class="action">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>