<div class="contents">
  <div class="contents_inner">
    <div class="side_search">
      <div class="side_search_inner">
        <div class="search_key">
          <h4>キーワードで検索する</h4>
          <div class="search_form">
            <%= form_with( url: jobs_path, method: :get, local:true) do |f| %>
              <%= f.text_field :search, value: params[:search] %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
        <div class="search_tag">
          <h4>タグで絞り込む</h4>
          <div class="tag_list">
            <% if @tags.present? %>
              <% @tags.each do |tag| %>
                <%= link_to "#{tag.name}", jobs_path(tag: tag.name), class: "tag" %>
              <% end %>
            <% else %>
              タグはありません。
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main_header">
        <h1>仕事を依頼する</h1>
      </div>
      <div class="links">
        <%= link_to "自分の投稿をチェック", root_path, class: "link_small" %>
        <%= link_to "投稿はこちらから", new_job_path, class: "new" %>
      </div>
      <div class="main_list">
        <% if @jobs.present? %>
          <% @jobs.each do |job| %>
            <div class="list_card">
              <div class="list_card_price">
                <div class="left">
                  <div class="card_top">
                    <%= link_to job_path(job) do %>
                      <h4><%= job.title %></h4>
                    <% end %>
                    <div class="tags">
                      <% job.tags.each do |tag| %>
                        <%= link_to "#{tag.name}", jobs_path(tag: tag.name), class: "tag" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="card_middle">
                    <%= simple_format job.content %>
                  </div>
                  <div class="card_bottom">
                    <div class="user_icon">
                      <% if job.user.image.present? %>
                        <%= image_tag job.user.image[:small].url %>
                      <% else %>
                        <%= image_tag "default_user.png" %>
                      <% end %>
                    </div>
                    <div class="card_bottom_name">
                      <%= link_to job.user.username, user_path(job.user) %>
                    </div>
                    <div class="card_bottom_area">
                      <span><%= job.area %></span>
                    </div>
                    <div class="card_bottom_time">
                      <span><%= time_ago_in_words(job.created_at)+"前" %></span>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="card_inner">
                    <div class="text">予算</div>
                    <div class="icon">【￥】</div>
                    <div class="value">
                      <p>
                        <% if job.budget %>
                          <%= job.budget.to_s(:delimited) %>円
                            <% if job.budget_unit.name != "" %>
                            ／
                            <% end %>
                          <%= job.budget_unit.name %>
                        <% else %>
                          -
                        <% end %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="list_card">
            <div class="alert">
              <h4>一致する投稿はありません。</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>