<div class="profile">
  <div class="profile_header">
    <div class="inner">
      <div class="user_icon">
        <div class="user_icon_image">
          <% if @user.image.present? %>
            <%= image_tag @user.image_url(:small) %>
          <% else %>
            <%= image_tag "default_user.png" %>
          <% end %>
        </div>
      </div>
      <div class="username">
        <%= @user.username %>
      </div>
    </div>
  </div>
  <div class="profile_inner">
    <div class="profile_main">
      <div class="list_card">
        <div class="follow_list">
          <%= render 'shared/stats' %>
        </div>
      </div>
      <% if @users.any? %>
        <%= render @users %>
      <% end %>
    </div>
    <div class="profile_side">
      <div class="link follow">
        <%= render 'shared/follow_form', user: @user if user_signed_in? %>
      </div>
      <div class="link message">
        <% unless @user.id == current_user.id %>
          <% if @isRoom == true %>
            <%= link_to "メッセージを送る", room_path(@roomId) %>
          <% else %>
            <%= form_with model: @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "メッセージを送る" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>