<div class="form_area">
  <%= form_with model: @skill, local: true do |f| %>
    <div class="form_area_inner">
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="field">
        <div class="field_input">
          <%= f.label :title, "タイトル" %><span>(見出しとなるわかりやすいタイトルを記載しましょう)</span><br>
          <%= f.text_field :title, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :content, "スキルの内容" %><span>(あなたが提供できるスキルをわかりやすく記載しましょう)</span><br>
          <%= f.text_area :content, rows: 10, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :tag_list, "タグ" %><span>(カンマ区切りで複数のタグを入力できます)</span><br>
          <%= f.text_field :tag_list, autofocus: true, autocomplete: "tag_list", value: @skill.tag_list.join(','), placeholder: "例) Mix, Recording" %><br>
        </div>
      </div>

    </div>

    <div class="action">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>