<div class="main_view">
  <div class="main_view__catch">
    <h2>音楽に関わる人たちとつながろう</h2>
    <p>バンドメンバーを募集したり、お仕事相手を探したり。</p>
    <p>プライベートメッセージを使ってやり取りしよう。</p>
  </div>
  <div class="about_servise">
    <div class="about_service_inner">
      <div class="items">
        <h4>求める音楽スキルが見つかる</h4>
        <div class="icon">
          <i class="fas fa-music"></i>
        </div>
        <p>様々なスキルを探せます。また自分のスキルを投稿してアピールできます。</p>
      </div>
      <div class="items">
        <h4>同じ趣味の音楽仲間が見つかる</h4>
        <div class="icon">
          <i class="fas fa-user-friends"></i>
        </div>
        <p>気軽にバンドメンバーを探したり、趣味の合う音楽仲間を探したりできます。</p>
      </div>
      <div class="items">
        <h4>音楽の仕事相手が見つかる</h4>
        <div class="icon">
          <i class="fas fa-headphones"></i>
        </div>
        <p>音楽に関するプロフェッショナルに仕事の相談をできます。まずは気軽にメッセージで相談しましょう。</p>
      </div>
    </div>
  </div>
  <div class="latest_content">
    <h3>最新の投稿</h3>
    <div class="latest_content_each">
      <div class="latest_content_each_skill">
        <% if @skill.present? %>
          <div class="list_card">
            <div class="card_top">
              <%= link_to skill_path(@skill) do %>
                <h4><%= @skill.title %></h4>
              <% end %>
            </div>
            <div class="card_middle">
              <%= simple_format @skill.content %>
            </div>
            <div class="card_bottom">
              <div class="user_icon">
                <% if @skill.user.image.present? %>
                  <%= image_tag @skill.user.image_url(:small) %>
                <% else %>
                  <%= image_tag "default_user.png" %>
                <% end %>
              </div>
              <div class="card_bottom_name">
                <%= link_to @skill.user.username, user_path(@skill.user) %>
              </div>
              <div class="card_bottom_time">
                <span><%= time_ago_in_words(@skill.created_at)+"前" %></span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="list_card">
            <div class="card_top">
              <h4>投稿はありません。</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="latest_content_each_mate">
        <% if @mate.present? %>
          <div class="list_card">
            <div class="card_top">
              <%= link_to mate_path(@mate) do %>
                <h4><%= @mate.title %></h4>
              <% end %>
            </div>
            <div class="card_middle">
              <%= simple_format @mate.content %>
            </div>
            <div class="card_bottom">
              <div class="user_icon">
                <% if @mate.user.image.present? %>
                  <%= image_tag @mate.user.image_url(:small) %>
                <% else %>
                  <%= image_tag "default_user.png" %>
                <% end %>
              </div>
              <div class="card_bottom_name">
                <%= link_to @mate.user.username, user_path(@mate.user) %>
              </div>
              <div class="card_bottom_time">
                <span><%= time_ago_in_words(@mate.created_at)+"前" %></span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="list_card">
            <div class="card_top">
              <h4>投稿はありません。</h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="latest_content_each_job">
        <% if @job.present? %>
          <div class="list_card">
            <div class="card_top">
              <%= link_to job_path(@job) do %>
                <h4><%= @job.title %></h4>
              <% end %>
            </div>
            <div class="card_middle">
              <%= simple_format @job.content %>
            </div>
            <div class="card_bottom">
              <div class="user_icon">
                <% if @job.user.image.present? %>
                  <%= image_tag @job.user.image_url(:small) %>
                <% else %>
                  <%= image_tag "default_user.png" %>
                <% end %>
              </div>
              <div class="card_bottom_name">
                <%= link_to @job.user.username, user_path(@job.user) %>
              </div>
              <div class="card_bottom_time">
                <span><%= time_ago_in_words(@job.created_at)+"前" %></span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="list_card">
            <div class="card_top">
              <h4>投稿はありません。</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>