<%= form_with model: @request, local: true do |f| %>
  <div class="form_area">
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form_area__field">
      <div class="form_area__field_input"></div>
        <%= f.label :title, "タイトル" %><br>
        <%= f.text_field :title, autofocus: true, autocomplete: "content" %>
      </div>
    </div>

    <div class="form_area__field">
      <div class="form_area__field_input">
        <%= f.label :content, "募集内容" %><br>
        <%= f.text_area :content, rows: 10, autofocus: true, autocomplete: "content" %>
      </div>
    </div>

    <div class="form_area__field">
      <div class="form_area__field_input"></div>
        <%= f.label :area, "地域" %><br>
        <%= f.text_field :area, autofocus: true, autocomplete: "content" %>
      </div>
    </div>


    <!-- <div class="form_area__field">
      <div class="form_area__field_input">
        <%= f.label :budget, "予算" %><br>
        <%= f.number_field :budget, min: 500, max: 300000, step: 100, autofocus: true, autocomplete: "budget" %>
      </div>
    </div> -->
  </div>
  
  <div class="form_area__action">
    <%= f.submit "投稿する", class: "form_area__action__btn" %>
  </div>
<% end %>