<div class="request_page">
  <div class="request_page__index">
    <div class="side">
      <div class="side_searchBox__inner">
        <div class="search_key">
          <h4>キーワードで検索する</h4>
          <div class="search_form">
            input_form
          </div>
        </div>
        <div class="search_tag">
          <h4>タグ</h4>
          <div class="search_form">
            input_form
          </div>
        </div>
      </div>
    </div>

    <div class="request_main">
      <div class="request_main__header">
        <h1>音楽仲間をさがす</h1>
      </div>
      <div class="request_links">
        <%= link_to "自分の投稿をチェック", root_path, class: "link_small" %>
        <%= link_to "投稿はこちらから", new_request_path, class: "btn" %>
      </div>
      <div class="request_main__list">
        <% if @requests.present? %>
          <% @requests.each do |request| %>
            <div class="request_list_card">
              <div class="card_top">
                <%= link_to request_path(request) do %>
                  <h4><%= request.title %></h4>
                <% end %>
              </div>
              <div class="card_middle">
                <p><%= simple_format request.content %></p>
              </div>
              <div class="card_bottom">
                <div class="card_bottom__icon">
                  <span>アイコン</span>
                </div>
                <div class="card_bottom__name">
                  <%= link_to request.user.username, root_path %>
                </div>
                <div class="card_bottom__area">
                  <span><%= request.area %></span>
                </div>
                <div class="card_bottom__time">
                  <span><%= request.created_at %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4>まだ投稿されたスレッドはありません。</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

