<div class="request_page">
  <div class="back_link">
    <%= link_to "一覧に戻る", requests_path %>
  </div>
  <div class="request_page__show">
    <div class="side">
      <div class="side__inner">
        <div class="user_icon">
          【アイコン】
        </div>
        <p class="username"><%= link_to @request.user.username, root_path %></p>
        <% if @request.user_id != current_user.id %>
          <div class="link follow">
            <%= link_to "フォローする", root_path %>
          </div>
          <div class="link message">
            <%= link_to "メッセージを送る", root_path %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="request_show_main">
      <div class="main_inner">
        <div class="main_top">
          <%= link_to "タグ", root_path, class: "tags" %>
          <h2 class="title"><%= @request.title %></h2>
          <div class="info">
            <span class="area"><%= @request.area %></span>
            <span class="created_time"><%= time_ago_in_words(@request.created_at)+"前" %></span>
          </div>
        </div>  
        <div class="main_middle">
          <div class="content">
            <%= simple_format @request.content %>
          </div>
        </div>
        <div class="main_bottom">
          <% if user_signed_in? && current_user.id == @request.user.id %>
            <div class="admin_actions">
              <%= link_to "投稿を編集する", edit_request_path(@request), class: "edit_link" %>
              <%= link_to "投稿を削除する", request_path(@request), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "delete_link" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="request_message">
        <div class="link message">
          <%= link_to "メッセージを送る", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>