<div class="form_area">
  <%= form_with model: [@skill, @plan], local: true do |f| %>
    <div class="form_area_inner">
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="field">
        <div class="field_input">
          <%= f.label :title, "タイトル" %><span>(見出しとなるわかりやすいタイトルを記載しましょう)</span><br>
          <%= f.text_field :title, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :content, "プラン内容" %><span>(あなたが提供できるサービスをわかりやすく記載しましょう)</span><br>
          <%= f.text_area :content, rows: 10, autofocus: true, autocomplete: "content" %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.label :budget, "料金" %><br>
          <%= f.number_field :budget, min: 500, max: 300000, step: 100, autofocus: true, autocomplete: "budget", class: "price" %>
          <span id="price_unit">
            円／
          </span>
          <%= f.select :budget_unit_id, options_from_collection_for_select(BudgetUnit.all, :id, :name, { include_blank: true, required: false, selected: @plan.budget_unit_id }) %>
        </div>
      </div>

      <div class="field">
        <div class="field_input">
          <%= f.hidden_field :skill_id, value: @skill.id %>
        </div>
      </div>
    </div>

    <div class="action">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>