<div class="contents">
  <div class="back_link">
    <%= link_to "一覧に戻る", skills_path %>
  </div>
  <div class="contents_inner">
    <div class="side_user">
      <div class="side_user_inner">
        <div class="user_icon">
          <% if @skill.user.image.present? %>
            <%= image_tag @skill.user.image[:small].url %>
          <% else %>
            <%= image_tag "default_user.png" %>
          <% end %>
        </div>
        <p class="username"><%= link_to @skill.user.username, user_path(@skill.user) %></p>
        <div class="link follow">
          <%= render 'shared/follow_form', user: @skill.user if user_signed_in? %>
        </div>
        <div class="link message">
          <% unless @skill.user.id == current_user.id %>
            <% if @isRoom == true %>
              <%= link_to "メッセージを送る", room_path(@roomId) %>
            <% else %>
              <%= form_with model: @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @skill.user.id %>
                <% end %>
                <%= f.submit "メッセージを送る" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main_detail back_white">
        <div class="detail_top">
          <%= link_to "タグ", root_path, class: "tags" %>
          <h2 class="title"><%= @plan.title %></h2>
          <div class="info_price">
            <span>
              <%= @plan.budget.to_s(:delimited) %>円
              <% if @plan.budget_unit.name != "" %>
                ／
              <% end %>
            <%= @plan.budget_unit.name %></span>
          </div>
        </div>
        <div class="detail_middle">
          <div class="content">
            <%= simple_format @plan.content %>
          </div>
        </div>
        <div class="detail_bottom">
          <% if user_signed_in? && current_user.id == @skill.user.id %>
            <div class="admin_actions">
              <%= link_to "投稿を編集する", edit_skill_plan_path(id: @plan.id, skill_id: @plan.skill.id), class: "edit_link" %>
              <%= link_to "投稿を削除する", skill_plan_path(id: @plan.id, skill_id: @plan.skill.id), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "delete_link" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="message_wrapper">
        <% if user_signed_in? && @skill.user_id != current_user.id %>
          <div class="link message">
            <% unless @skill.user.id == current_user.id %>
              <% if @isRoom == true %>
                <%= link_to "メッセージを送る", room_path(@roomId) %>
              <% else %>
                <%= form_with model: @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @skill.user.id %>
                  <% end %>
                  <%= f.submit "メッセージを送る" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>