<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to "SKILMA", root_path %>
    </h1>
    <ul class="header__bar__content_nav">
      <li class="header__bar__content_nav__list">
        <%= link_to skills_path do %>
          <i class="fas fa-music"></i>
          <span>スキルを探す</span>
        <% end %>
      </li>
      <li class="header__bar__content_nav__list">
        <%= link_to mates_path do %>
          <i class="fas fa-user-friends"></i>
          <span>音楽仲間を探す</span>
        <% end %>
      </li>
      <li class="header__bar__content_nav__list">
        <%= link_to jobs_path do %>
          <i class="fas fa-headphones"></i>
          <span>仕事を依頼する</span>
        <% end %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <ul class="header__bar__user_nav">
        <li class="header__bar__user_nav__btn">
          <%= link_to "プロフィール", user_path(current_user) %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "メッセージ", rooms_path %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="fas fa-circle n-circle"></i>
                <i class="far fa-bell n-bell"></i>
              </span>
            <% else %>
              <i class="far fa-bell n-bell"></i>
            <% end %>
          <% end %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "設定", edit_user_registration_path %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "ログアウト", sign_out_path %>
        </li>
      </ul>
    <% else %>
      <ul class="header__bar__user_nav">
        <li class="header__bar__user_nav__btn">
          <%= link_to "ログイン", sign_in_path %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
      </ul>
    <% end %>
  </div>
</header>