<div class="account_page">
  <div class="account_page__inner">
    <div class="account_page__header__edit">
      <h3>プロフィール</h3>
    </div>
    <div class="account_page__user_form__edit">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
          
        <div class="field">
          <div class="field_input">
            <%= f.label :email, "メールアドレス" %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div class="field">
          <div class="field_input">
            <%= f.label :username, "ユーザー名" %><br>
            <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
          </div>
        </div>

        <div class="field">
          <div class="field_input">
            <%= f.label :profile, "プロフィール" %><br>
            <%= f.text_area :profile, rows: 10, autofocus: true, autocomplete: "profile" %>
          </div>
        </div>

        <div class="field">
          <div class="field_input">
            <%= f.label :current_password, "現在のパスワード" %><span>(変更確認のため、必ずご入力ください)</span><br>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="field">
          <div class="field_input">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <span>(変更する場合のみ、<%= @minimum_password_length %>文字以上で記入してください)</span><br>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        
        <div class="field">
          <div class="field_input">
            <%= f.label :password_confirmation, "確認用パスワード" %><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions__edit">
          <%= f.submit "保存する", class: "btn__update" %>
        </div>
      <% end %>


      <%= button_to "退会はこちら", registration_path(resource_name), data: { confirm: "退会処理を行います。よろしいですか?" }, method: :delete %>
    </div>
  </div>
</div>
